.component{
    margin: 30px 30px 0 80px;
    width: calc(100vw - 800px);
}

.component .table-conditions {
    height: calc(100vh - 400px);
    overflow-y: auto; 
}

.component .table-conditions .container{
    border-radius: 8px;
}

.component .table-conditions .row-heads{
    background-color: #334c59;
}

.component .table-conditions .row-heads th{
    color: white;
    font-weight: bold;
}

.second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-line h3 {
    margin: 0;
    /* Eliminar márgenes por defecto del encabezado */
}

.second-line .chip {
    margin-left: auto;
    /* Empujar el Chip hacia la derecha */
}

.conditions{
    display: block;
}
